{% extends "base.html" %}
{% block content %}
<h1>Privacy Policy</h1>
<p>At SmartNotes, we are committed to protecting your privacy. This policy explains how we collect, use, and protect the personal information you provide to us when you use our website.</p>
<h2>Information Collection and Use</h2>
<p>We collect personal information such as email addresses and file uploads when you sign up for SmartNotes. We use this information for academic research purposes only, and will not share it outside of the website. Your information will be shared amongst other users who are in your class, but it will be left anonymous. Only the website creator and members of staff from the university can see the information.</p>
<h2>Data Storage and Security</h2>
<p>We store your data in databases and as files on disk. We take the security of your personal information seriously. We store your information on secure servers and use appropriate security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information. The website files and user content will not be publicly available and will only have available to those granted permission for the academic research.
</p>
<h2>User Rights</h2>
<p>You have the right to access, modify and delete your data. You can contact us through smartnotes_uol@protonmail.com</p>
<h2>Data Retention</h2>
<p>Data will be retained until project completion</p>
<h2>Changes to this Policy</h2>
<p>We may update this policy from time to time. We will notify you of any changes by posting the new policy on our website.</p>
<h2>Contact Information</h2>
<p>If you have any questions or concerns about this policy, please contact us at smartnotes_uol@protonmail.com</p>
<p>By using SmartNotes, you agree to this privacy policy.</p>
<p>Please consult your participant information and debrief sheets for more information.</p>
{% endblock %}