{% extends "base.html" %}
{% block content %}
<h1>Terms and Conditions</h1>
<p>Welcome to SmartNotes, a collaborative revision platform where users can submit notes and URLs to other students.
    These resources will have their keywords extracted to summarise their content. Users can leave ratings on resources
    to help other students too.</p>
<h2>Information Collection and Use</h2>
<p>By signing up for SmartNotes, you agree to provide us with your email address. You can also upload PDFs, TXT, and VTT
    files, and type notes and URLs. We will use this information to provide the services on our platform, and to improve
    the user experience. Your information will be shared amongst other users who are in your class, but it will be left
    anonymous. Only the website creator and members of staff from the university can see the information.</p>
<h2>Legal Considerations</h2>
<p>There are no legal considerations for this website.</p>
<h2>User's rights</h2>
<p>Users have the right to access, modify and delete their data. They can contact us through
    smartnotes_uol@protonmail.com</p>
<h2>Data Retention</h2>
<p>Data will be retained until project completion</p>
<h2>Third-Party Services</h2>
<p>We do not use any third-party services.</p>
<h2>Contact Information</h2>
<p>If you have any questions or concerns about these terms and conditions, please contact us at
    smartnotes_uol@protonmail.com</p>
<p>By using SmartNotes, you agree to these terms and conditions.</p>
<p>Please consult your participant information and debrief sheets for more information.</p>
{% endblock %}