{% extends "base.html" %}
{% block content %}
<h1 class="row justify-content-center">{{title}}</h1>
<br>
<div class="row justify-content-md-center">
    <div class="border rounded border-primary p-5 col-lg-4 auth-col-lg-4">
        <form action="{{action_url}}" method="post" name="{{form_name}}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row form-floating">
                {{ form.title(class_='form-control', placeholder='Resource Title') }}
                <label for="title">Resource Title</label>
            </div>
            <br>
            <div class="row mb-3">
                {{ form.file(class_='form-control', accept=accepts, placeholder='Upload File') }}
              </div>
            <div class="row">
                <input type="submit" class="btn btn-primary col" value="Add Resource">
            </div>
        </form>
    </div>
</div>

{% endblock %}